<% if @pending.empty? %>
  <em>Currently no pending </em>
<% else %>
  <div class='row'>
    <% @pending.each do | item | %>
      <div id='pending<%=item.id%>' class="col-md-6 border">
        <div class='floatl'>
          <%= image_tag Item.find(item.item_id).image.url, class: 'thumbnail' %>
        </div>

        <div class='floatr'>
          <strong>Name: </strong> <%= Item.find(item.item_id).name %><br/>
          <% if Verification.where(checkout_id: item.id, status: 'pickup').empty? %>

            <% if Item.find(item.item_id).user_id == current_user.id %>
              <a id='<%=item.item_id%>' href="<%=item.id%>" class='confirm'>Confirm</a><br/>
              <%= link_to 'Decline', item_checkout_path(item.item_id, item.id), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% else %>
              <em> Waiting for Lender to Approve </em><br/>
              <%= link_to 'Cancel Request', item_checkout_path(item.item_id, item.id), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>

          <% else %>
            <%= link_to 'show', item_checkout_verification_path(Item.find(item.item_id),item.id,Verification.verify_show_pickup(item.id)) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
