<h2> <%= current_user.first_name.capitalize %>'s Library </h2>

<%= link_to 'Edit My User Profile ', edit_user_registration_path %>
<div class='row'>
<div id="profile" class='col-md-4'>
</div>
<div class="col-md-8" id="userpanel">
  <div class=''>
    <h4>Contact Info</h4>
    <strong>Name:</strong> <%=current_user.first_name.capitalize %> <%=current_user.last_name.capitalize %><br/>
    <strong>City:</strong> <%=current_user.city %><br/>
    <strong>Email:</strong> <%=current_user.email %><br/>
    <h4>Status </h4>
    <strong>Total Inventory: </strong>&nbsp;&nbsp; <%= @count_inventory %> &nbsp;&nbsp;
    <strong>Total Borrowed: </strong>&nbsp;&nbsp; <%= @borrow.count %> &nbsp;&nbsp;
    <strong>Total Lent Out: </strong>&nbsp;&nbsp; <%= @lent.count %>

  </div>
</div>
</div>
<hr>

<div class="container">
  <h2> Pending:</h2>
  <em>Currently no pending </em>
</div>
<div class="container">
  <h2> Items Lent:</h2>
  <% if @lent.empty? %>
  <em>Currently nothing is Lent out</em>
  <% else %>
  <div class="row">
    <% @lent.each do | item | %>
      <div class="col-md-6 border">
        <strong>Name: </strong> <%= Item.find(item.item_id).name %>
        <strong>lent to: </strong> <%= User.find(item.user_id).first_name %> <%= User.find(item.user_id).last_name %>
        <strong>Time Left: </strong> ...
      </div>
    <% end %>
      </div>
    <% end %>

</div>
<div class="container">
  <h2> Items Borrowed:</h2>
  <% if @borrow.empty? %>
  <em>Currently nothing is borrowed - Checkout <%= link_to 'available borrow list', items_path %></em>
  <% else %>
  <div class="row">
    <% @borrow.each do | item | %>
      <div class="col-md-6 border">
        <strong>Name: </strong> <%= Item.find(item.item_id).name %>
        <strong>Owner: </strong> <%= User.find(item.user_id).first_name %> <%= User.find(item.user_id).last_name %>
        <strong>Time Left: </strong> ...
      </div>
    <% end %>
      </div>
    <% end %>
</div>
<div class="container">
  <h2> Inventory:</h2>
  <% if @items.empty? %>
  <em>Currently no Items in Inventory,  <%= link_to 'Add Item to Inventory', new_item_path %></em>
  <% else %>
  <div class="row">
    <% @items.each do | item | %>
      <div class="col-md-6 border">
        <strong>Name: </strong> <%= Item.find(item.item_id).name %>
      </div>
    <% end %>
      </div>
    <% end %>

</div>
