<body data-turbolinks="false">
<div id="fullpage">

	<div class="section active" data-anchor="page1" id="section1">

		<div class="slide" data-anchor="slide1" id="slider3">
			<div class="slide3-text cover-slider slide3-custom">
        <h1 class ="slider-header">Looking for something to borrow?</h1>
        <h2 class = "slider-description">We have what you need.</h2>
        <div class="search-text">
          <input id="mainSearchTextField" class="searchTextField" type="text" name="mainSearchTxt">
          <button id="mainSearchBtn" class="btn btn-default"><%= link_to "Search", items_path %></button>
        </div>
			</div>
		</div>

    <div class="slide" data-anchor="slide1" id="slider1">
			<div class="slide1-text cover-slider">
        <h1 class ="slider-header">Make connections.</h1>
        <h2 class = "slider-description">Bring personality to the items we share</h2>
        <a class = "slider-box-link" data-target="#signupModal" data-toggle="modal">join now</a>
			</div>
		</div>

    <div class="slide" data-anchor="slide2" id="slider2">
			<div class="slide2-text cover-slider">
        <h1 class ="slider-header">Significant Events</h1>
        <h2 class = "slider-description">We want every user<br>abilty to create there own advenures</h2>
        <a class = "slider-box-link">So every experience is a unique one</a>
			</div>
		</div>
  </div>

	<div class="section" data-anchor="page2" id="section2">
		<%= image_tag "icon1.svg", class:"timeline-icon img-responsive", id: "icon1"%>
		<%= image_tag "icon2.svg", class:"timeline-icon img-responsive", id: "icon2"%>
		<%= image_tag "icon3.svg", class:"timeline-icon img-responsive", id: "icon3"%>
		<%= image_tag "tent.svg", id: "tent-icon"%>
		<%= image_tag "light-bulb.svg", id: "light-bulb-icon"%>
		<%= image_tag "wrench.svg", id: "wrench-icon"%>
		<div class = "container">
			<div class="timeline main-feature">
				<div class = "timeline-map col-md-6">
				</div>
	      <div class = "timeline-text col-md-6">
	  			<h1>Timeline of Item Background</h1>
	        <p>
	          Every item has its own history. We want to hear all about it.
	          Add your objects to our library to create your story or borrow items to continue its adventure.
	        </p>
	      </div>
			</div>
		</div>
	</div>

	<div class="section" data-anchor="page3" id="section3">
		<div class="location main-feature">
			<div class = "container">
				<div class="location-text col-md-6">
	  			<h1>Determine Meetup Location Through Chat</h1>
	  			<p>
	          Chat instantly with who you're borrowing from or lending to.
	          Set your agreed upon meetup location with integrated Google Maps.
	  			</p>
	      </div>

				<div class = "full-city col-md-6">

			    <%= image_tag "dotted_lines-15mbp.svg", class:"user-lines"%>

					<%= image_tag "city-15mbp.svg", class:"city-landscape"%>

					<div class = "card user1_card effect_random" data-id="1">
						<%= image_tag "front-profile1.svg", class:"user1_front" %>
						<%= image_tag "back-profile1.svg", class:"user1_back" %>
					</div>
					<div class = "card user2_card effect_random" data-id="2">
						<%= image_tag "front-profile2.svg", class:"user2_front" %>
						<%= image_tag "back-profile2.svg", class:"user2_back" %>
					</div>
					<div class = "card user3_card effect_random" data-id="3">
						<%= image_tag "front-profile3.svg", class:"user3_front" %>
						<%= image_tag "back-profile3.svg", class:"user3_back" %>
					</div>
					<div class = "card user4_card effect_random" data-id="4">
						<%= image_tag "front-profile4.svg", class:"user4_front" %>
						<%= image_tag "back-profile4.svg", class:"user4_back" %>
					</div>
					<div class = "card user5_card effect_random" data-id="5">
						<%= image_tag "front-profile5.svg", class:"user5_front" %>
						<%= image_tag "back-profile5.svg", class:"user5_back" %>
					</div>
					<div class = "card user6_card effect_random" data-id="6">
						<%= image_tag "front-profile6.svg", class:"user6_front" %>
						<%= image_tag "back-profile6.svg", class:"user6_back" %>
					</div>
					<div class = "card user7_card effect_random" data-id="7">
						<%= image_tag "front-profile7.svg", class:"user7_front" %>
						<%= image_tag "back-profile7.svg", class:"user7_back" %>
					</div>
					<div class = "card user8_card effect_random" data-id="8">
						<%= image_tag "front-profile8.svg", class:"user8_front" %>
						<%= image_tag "back-profile8.svg", class:"user8_back" %>
					</div>

				</div>
			</div>
		</div>
	</div>

  <div class="section" data-anchor="page4" id="section4">
		<div class="our-team">
			<h1>Our Team</h1>
      <div class="col-lg-3 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="https://media.licdn.com/media/AAEAAQAAAAAAAAd7AAAAJGJiZjI1ODM0LTQ0ZGUtNDYzYS1iYzg5LTE5ZDE4OTFlNDA1NQ.jpg" alt="">
          <h3>Cathy Chan</h3>
          <h5>Web Developer</h5>

          <p><a href="https://github.com/cathyccc"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a></p>
          <p><a href="https://www.linkedin.com/in/cathy-chan"><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a></p>
      </div>
      <div class="col-lg-3 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="https://media.licdn.com/media/AAEAAQAAAAAAAAfqAAAAJDMxNzE3Y2FlLTUxMjMtNGRmMy05N2U0LWIzNThjMWRmODYzMA.jpg" alt="">
          <h3>Adam Tse</h3>
          <h5>Web Developer</h5>

          <p><a href="https://github.com/EscapeAD"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a></p>
          <p><a href="https://ca.linkedin.com/in/adam-tse"><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a></p>
      </div>
      <div class="col-lg-3 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="https://media.licdn.com/media/AAEAAQAAAAAAAAj0AAAAJGNhMDk2MzYxLTFkZDgtNDdkMS1iOGU5LTM2MDVlY2U2N2E3MA.jpg" alt="">
          <h3>Victor Mclean</h3>
          <h5>Web Developer</h5>

          <p><a href="https://github.com/vmvictorvm"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a></p>
          <p><a href="https://ca.linkedin.com/in/victor-mclean"><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a></p>
       </div>
      <div class="col-lg-3 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="https://media.licdn.com/media/AAEAAQAAAAAAAAhDAAAAJDczNzE3ZTU0LWE3NzQtNDQyMS05MTY1LTUzOWVmNGMwMjQ1Yw.jpg" alt="">
          <h3>Rui Dong</h3>
          <h5>Web Developer</h5>
          <p><a href="https://github.com/codeisawesome"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a></p>
          <p><a href="https://ca.linkedin.com/in/rudong"><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a></p>
      </div>
		</div>
	</div>

</div>
