<div class="video-container">
  <%= video_tag("video2.mp4", alt: "Leisure", autoplay: true, loop: true) %>
  <div class="video-text">
    <h1 id='frontTitle'> LENDR </h1>
    <div class="search-text">
      <button id="mainSearchBtn" class="btn btn-default"><%= link_to "Search", items_path %></button>
      <input id="mainSearchTextField" class="searchTextField" type="text" name="mainSearchTxt">
    </div>
    <h4 id='frontText'>Community to share and build Stories<br/>
        You will find something unique you'll need</h4>

  </div>
</div>

<div class="containers-container">


  <div class="fluid-container text-center" id="colored-bg">
    <h3 class="subheader-main recommend">Recommended Categories</h3>

    <div class="row">
      <div class="col-md-4 categoryRec">
        <%= link_to image_tag("leisure.jpg", size: "304x228", alt: "Leisure"), items_path(categoryInput: 'leisure') %>
        <%= link_to 'Leisure', items_path(categoryInput: 'leisure'), class: 'imgtext'%>
      </div>
      <div class="col-md-4 categoryRec">
        <%= link_to image_tag("equipment.jpg", size: "304x228", alt: "Equipment"), items_path(categoryInput: 'equipment') %>
        <%= link_to 'Equipment', items_path(categoryInput: 'equipment'), class: 'imgtext'%>
      </div>
      <div class="col-md-4 categoryRec">
        <%= link_to image_tag("outdoor.jpg", size: "304x228", alt: "outdoor"), items_path(categoryInput: 'outdoor') %>
        <%= link_to 'Outdoor', items_path(categoryInput: 'equipment'), class: 'imgtext'%>
      </div>
    </div>

  </br>

    <div class="row">
      <div class="col-md-4 categoryRec">
        <%= link_to image_tag("tools2.jpg", size: "304x228", alt: "Repairs"), items_path(categoryInput: 'repairs') %>
        <%= link_to 'Repairs', items_path(categoryInput: 'repairs'), class: 'imgtext'%>
      </div>
      <div class="col-md-4 categoryRec">
        <%= link_to image_tag("landscaping.jpg", size: "304x228", alt: "Landscape"), items_path(categoryInput: 'landscape') %>
        <%= link_to 'Landscape', items_path(categoryInput: 'landscape'), class: 'imgtext'%>
      </div>
      <div class="col-md-4 categoryRec">
        <%= link_to image_tag("education.jpg", size: "304x228", alt: "Education"), items_path(categoryInput: 'education') %>
        <%= link_to 'Education', items_path(categoryInput: 'education'), class: 'imgtext'%>
      </div>
    </div>

  </br>
    <!-- <div class="container recommended-categories text-content">
      <button class="btn btn-default"><%= link_to "Search for More", items_path %></button> -->
    </br>
    <!-- </div> -->

  </div>

  <div class="container context-container">
    <h3 class="subheader-main about-us">About Us</h3>
    <p class = "text-content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rutrum eros at lobortis rutrum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc malesuada mollis quam at imperdiet. Curabitur id felis a mauris viverra dignissim vel non odio. Curabitur fermentum orci sed felis facilisis, id laoreet lacus imperdiet. Proin ac sapien et sapien luctus consectetur facilisis molestie urna. Praesent porta, nunc sagittis elementum mattis, erat sapien consequat lectus, vitae finibus felis ligula ut quam. Proin pulvinar ut sem sed vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    </p>
  </div>
  <div class="row">
           <div class="col-lg-12">
             <h3 class="subheader-main about-us">Our Team</h3>
           </div>
           <div class="col-lg-4 col-sm-6 text-center">
               <img class="img-circle img-responsive img-center" src="https://media.licdn.com/media/AAEAAQAAAAAAAAd7AAAAJGJiZjI1ODM0LTQ0ZGUtNDYzYS1iYzg5LTE5ZDE4OTFlNDA1NQ.jpg" alt="">
               <h3>Cathy Chan
                   <small>Web Developer</small>
               </h3>
               <p><a href="https://github.com/cathyccc"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a></p>
               <p><a href="https://www.linkedin.com/in/cathyccc"><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a></p>
           </div>
           <div class="col-lg-4 col-sm-6 text-center">
               <img class="img-circle img-responsive img-center" src="https://media.licdn.com/media/AAEAAQAAAAAAAAfqAAAAJDMxNzE3Y2FlLTUxMjMtNGRmMy05N2U0LWIzNThjMWRmODYzMA.jpg" alt="">
               <h3>Adam Tse
                   <small>Web Developer</small>
               </h3>
               <p><a href="https://github.com/EscapeAD"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a></p>
               <p><a href="https://ca.linkedin.com/in/adam-tse"><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a></p>
           </div>
           <div class="col-lg-4 col-sm-6 text-center">
               <img class="img-circle img-responsive img-center" src="https://media.licdn.com/media/AAEAAQAAAAAAAAj0AAAAJGNhMDk2MzYxLTFkZDgtNDdkMS1iOGU5LTM2MDVlY2U2N2E3MA.jpg" alt="">
               <h3>Victor Mclean
                   <small>Web Developer</small>
               </h3>
               <p><a href="https://github.com/vmvictorvm"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a></p>
               <p><a href="https://ca.linkedin.com/in/victor-mclean"><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a></p>
            </div>
           <div class="col-lg-4 col-sm-6 text-center">
               <img class="img-circle img-responsive img-center" src="https://media.licdn.com/media/AAEAAQAAAAAAAAigAAAAJDY5YTU1MGUxLTdhNjUtNDAyYy04OWFiLTFjNTBjYWQ0ZTViMw.jpg" alt="">
               <h3>Rui Dong
                   <small>Web Developer</small>
               </h3>
               <p><a href="https://github.com/codeisawesome"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a></p>
               <p><a href="https://ca.linkedin.com/in/rudong"><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a></p>           </div>
      </div>
</div>
