<div class="video-container">
  <%= video_tag("video.mp4", alt: "Leisure", autoplay: true) %>
  <div class="video-text">
    <h3>Looking for tools to fix your lawnmower?</h3>
    <h4>We can help.</h4>
    <div class="search-text">
      <button id="mainSearchBtn">Search</button>
      <input id="mainSearchTextField" type="text" name="mainSearchTxt">
    </div>
  </div>
</div>

<div class="containers-container">


  <div class="container context-container" id="colored-bg">
    <h3 class="subheader-main recommend">Recommended Categories</h3>

    <div class="row">
      <div class="col-md-4">
        <%= link_to image_tag("education.jpg", size: "304x228", alt: "Leisure"), items_path(categoryInput: 'leisure') %>
      </div>
      <div class="col-md-4">
        <%= link_to image_tag("education.jpg", size: "304x228", alt: "Equipment"), items_path(categoryInput: 'equipment') %>
      </div>
      <div class="col-md-4">
        <%= link_to image_tag("education.jpg", size: "304x228", alt: "Outdoor"), items_path(categoryInput: 'outdoor') %>    </div>
    </div>

  </br>

    <div class="row">
      <div class="col-md-4">
        <%= link_to image_tag("education.jpg", size: "304x228", alt: "Repairs"), items_path(categoryInput: 'repairs') %>
      </div>
      <div class="col-md-4">
        <%= link_to image_tag("education.jpg", size: "304x228", alt: "Landscape"), items_path(categoryInput: 'landscape') %>
      </div>
      <div class="col-md-4">
        <%= link_to image_tag("education.jpg", size: "304x228", alt: "Education"), items_path(categoryInput: 'education') %>
      </div>
    </div>

  </br>
    <div class="container recommended-categories text-content">
      <button class="btn btn-default"><%= link_to "Search for More", items_path %></button>
    </br>
    </div>

  </div>

  <div class="container context-container">
    <h3 class="subheader-main about-us">About Us</h3>
    <p class = "text-content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rutrum eros at lobortis rutrum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc malesuada mollis quam at imperdiet. Curabitur id felis a mauris viverra dignissim vel non odio. Curabitur fermentum orci sed felis facilisis, id laoreet lacus imperdiet. Proin ac sapien et sapien luctus consectetur facilisis molestie urna. Praesent porta, nunc sagittis elementum mattis, erat sapien consequat lectus, vitae finibus felis ligula ut quam. Proin pulvinar ut sem sed vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    </p>
  </div>
</div>
