<h2>Search Results</h2>

<% if searchItemList.empty?  %>
  <em>  No results found </em>

<% else %>

  <% searchItemList.each do |item| %>
    <div class='col-md-4 item-box col-xs-6'>
      <div class = "item_search_box">

        <% if item.pictures.empty? %>
          <div class = "index-image-wrapper">
            <%= link_to image_tag("http://epaper2.mid-day.com/images/no_image_thumb.gif"), item_path(item) %>
          </div>
        <% else %>
          <div class = "index-image-wrapper">
            <%= link_to image_tag(item.pictures.first.image.url(:medium)),item_path(item) %>
          </div>
        <% end %>

        <p class='item-word'>
          <%= link_to item.name, item_path(item) %>
          <br>Owner: <%= User.find(item.user_id).first_name %>
          <%= User.find(item.user_id).last_name %>
        </p>

      </div>
    </div>
  <% end %>

<% end %>
