<div class='container'>
<ul>
  <li><a href='' id='leisureCat'>Leisure</a></li>
  <li><a href='' id='equipmentCat'>Equiment</a></li>
  <li><a href='' id='outdoorCat'>Outdoor</a></li>
  <li><a href='' id='repairsCat'>Repairs</a></li>
  <li><a href='' id='landscapeCat'>Landscape</a></li>
  <li><a href='' id='educationCat'>Education</a></li>
</ul>

<h1>Item Search</h1>


<button id="searchBtn">Search</button>
<input id="searchTextField" type="text" name="searchTxt">


<div id="searchSec">
  <div id="searchList">
    <section id="allItems">
        <h2>All Items</h2>
        <% @items.each do |item| %>
        <% if item.pictures.empty? %>
        <%= image_tag "http://epaper2.mid-day.com/images/no_image_thumb.gif"%><br/>
            <%= link_to item.name, item_path(item) %>
            <br>Owner: <%= item.user_id %>
        <% else %>
          <div class = "item_image"><% if item.pictures != nil %>
            <%= image_tag item.pictures.first.image.url(:thumb) %>
            <% end %>
          <div class = "item-info">
            <%= link_to item.name, item_path(item) %>
            <br>Owner: <%= item.user_id %>
          </div>
          <br>
      <% end %>
    <% end %>
    </section>
  </div>
</div>
</div>
