<h1>All Items</h1>

<ul>
<% @items.each do |item| %>
  <li>Name: <%= item.name %></li>
  <li>Description: <%= item.description %></li>
  <li>Type: <%= item.item_type %></li>
  <li>Owner: <%= item.user_id %></li>
  <li class = "item_image">Image: <br><%= image_tag item.image.url %></li>
  <br>
<% end %>
</ul>
