<h1><%= @item.name %></h1>

<% @item.pictures.each do |pic| %>
  <div class = "item_image"><%= image_tag pic.image.url %></div>
  <%= link_to 'delete', item_picture_url(@item.id,pic.id),method: :delete, id: 'delImgId' %>
<% end %>
Description: <%= @item.description %><br>
Type: <%= @item.item_type %><br>
Owner: <%= @item.user_id %><br>

<div class = "borrow-button"><%= button_tag 'Borrow', type: 'button' %></div>
<!-- button_tag 'Borrow', type: 'reset', disabled: true -->
  <%= link_to 'Borrrow', new_item_checkout_path(@item) %>
  <%= link_to 'Edit', edit_item_path %>
  <%= link_to 'Delete', item_path, method: :delete, data: {confirm: "Are you sure you want to delete the item '#{@item.name}'? This cannot be undone!"} %>
  <h3>Story</h3>
<div class='border container'>
  <div class='row'>
    <div class="">
    </div>
  </div>
</div>
