
<div class='container context-container'>
  <!-- <div class='border item-show-info row'> -->

<!-- <div class = "item_image floatl col-md-8">
  <%# if @item.pictures.first != nil %>
  <%#= image_tag @item.pictures.first.image.url, id: 'show-image' %>
  <%# else %>
  <%#= image_tag "http://epaper2.mid-day.com/images/no_image_thumb.gif" %>
  <%# end %>
  </div> -->

  <div class="col-md-6">
    <!-- <div class="flexslider"> -->
      <ul class="slides">
        <% if @item.pictures.first != nil %>
          <li><%= image_tag @item.pictures.first.image.url, id: 'show-image' %></li>
        <% else %>
          <li><%= image_tag "http://epaper2.mid-day.com/images/no_image_thumb.gif" %></li>
        <% end %>
      </ul>
    <!-- </div> -->
  </div>

  <!-- <div class='underpass-pic'>
    <%# @item.pictures.each do |pic| %>
      <div class = "thumbnail-pic"><%#= image_tag pic.image.url, class: 'thumbnail-pic' %></div>
      <%# if current_user != nil && @item.user_id == current_user.id %>
        <%#= link_to 'delete', item_picture_url(@item.id,pic.id),method: :delete, id: 'delImgId' %>
      <%# end %>
    <%# end %>
  </div> -->

  <div class="col-md-6 ">
    <div class = "item-details">
      <h3><strong><%= @item.name %></strong></h3>
      <h4>Owner</h4> <%= @owner.first_name.capitalize %> <%= @owner.last_name.capitalize %><br>
      <h4>Type</h4> <%= @item.category.name.capitalize %><br>
      <h4>Description</h4>
      <%= @item.description %>
    </div>
    <br>
    <% if Checkout.where(item_id: @item.id, returned: false).any? %>
      <%= link_to 'Borrrow', item_checkouts_path(@item), class: 'btn btn-success btn-lg', id: 'borrowBtn', disabled: true %>
    <% else %>
      <%= link_to 'Borrrow', item_checkouts_path(@item), class: 'btn btn-success btn-lg', id: 'borrowBtn'%>
    <% end %>
      <span class="messsage-icon">
        <span id="msg-label">Message User</span>
        <button class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#message-to-owner">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </button>
      </span>

    <% if current_user == @item.user_id %>
      <%= link_to 'Edit', edit_item_path %>
      <%= link_to 'Delete', item_path, method: :delete, data: {confirm: "Are you sure you want to delete the item '#{@item.name}'? This cannot be undone!"} %>
    <% end %>
  </div>
</div>

<div class='container adventures-container'>
  <h3 class="subheader-main">Adventures</h3>

  <% if @stories.empty? %>
    <p class="empty-stories">
      <em>Currently this lone item has no adventures.</em>
    </p>
  <% else %>

  <section id="timeline" class="container">
    <% @stories.each do |story| %>

    <!-- includes both marker and story -->
    <div class="timeline-block">

      <!-- icon on timeline -->
      <div class="timeline-img icon-background">
        <i class="fa fa-male" aria-hidden="true"></i>
      </div>

      <!-- content -->
      <div class="timeline-content">
        <span class = "story-profile-photo"><%= image_tag StoryPhoto.find(story.id).photo.url %></span>
        <span class = "story-info-text">
          <h2><%= story.title %></h2>
          <p><%=story.story%></p>
          <div class = "story-date"><%= story.date.strftime("%B %d, %Y") %></div>
        </span>
      </div>

    </div>
    <% end %>

  </section>
  <% end %>

  <div class="modal fade" id="message-to-owner" tabindex="-1" role="dialog" aria-labelledby="message-to-owner">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Message Owner</h4>
        </div>
        <div class="modal-body">
          <%= form_for(@mail) do |f| %>

            <% if @mail.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@mail.errors.count, "error") %> prohibited this mail from being saved:</h2>

                <ul>
                  <% @mail.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <%= f.label :title %><br />
            <%= f.text_field :title, id: 'mailTitle' %><br />

            <%= f.label :text %><br />
            <%= f.text_area :text, id: 'mailText' %><br />
        </div>
        <div class="modal-footer">
          <%= f.submit "Send Mail", id: 'mailSubmitBtn', class: 'btn btn-primary', data: { ownerId: "#{@item.user_id}", senderId: "#{current_user.id}"} %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
