
<div class='container'>

  <div class='border item-show-info row'>

<div class = "item_image floatl col-md-8"><%= image_tag @item.image.url, id: 'show-image' %></div>
<div class="pull-right col-md-4">
    <h1><%= @item.name %></h1>
Description: <%= @item.description %><br>
Type: <%= @item.item_type %><br>
Owner: <%= @item.user_id %><br>

<div class = "borrow-button"><%= button_tag 'Borrow', type: 'button' %></div>
<!-- button_tag 'Borrow', type: 'reset', disabled: true -->
  <%= link_to 'Borrrow', new_item_checkout_path(@item) %>
  <%= link_to 'Edit', edit_item_path %>
  <%= link_to 'Delete', item_path, method: :delete, data: {confirm: "Are you sure you want to delete the item '#{@item.name}'? This cannot be undone!"} %>
</div>
</div>
</div>
<div class='border container story-box'>
  <div class='container'>
  <h3>Story</h3>
  <div class='row'>
    <% if @stories.empty? %>
    <em>Currently young lone item has no stories </em>
    <% else %>
    <% @stories.each do |story| %>
    <div class="col-xs-6 col-md-12 border">
      <h2><%= story.title %></h2>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
</div>
